// colors
$color-text: #777;
$color-accent-green: #58e1c1;
$color-accent-blue: #51ddfc;
$white: #fff;
$color-img-frame: #ccc;

//font stacks
$stack-lato: "Lato", sans-serif;

$font-weight-light: 300;
$font-weight-heavy: 700;

//breakpoints
$brk-min: "768px";