// colors
$color-text: #777;
$color-accent-green: #58e1c1;
$color-accent-blue: #51ddfc;
$white: #fff;
$color-img-frame: #ccc;

$button-bg: (
     "def": #51ddfc,
     "err": #e4757a,
     "inf": #927bc1,
    "succ": #63cc82,
    "warn": #fd7856,
);

//font stacks
$stack-lato: "Lato", sans-serif;

$font-weight-light: 300;
$font-weight-heavy: 700;

//breakpoints
$brk-min: "768px";

