// /* ============================================= */
// /*              Buttons                          */
// /* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: $white;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
  }
  
  .default {
    background-color: map-get($button-bg, "def");
    transition: background-color .5s;

    &:hover {
      background-color: lighten($color: map-get($button-bg, "def"), $amount: 10%);
    }
  }
  
  .error {
    background-color: map-get($button-bg, "err");
    transition: background-color .5s;

    &:hover {
      background-color: lighten($color: map-get($button-bg, "err"), $amount: 10%);
    }
  }
  
  .info {
    background-color: map-get($button-bg, "inf");
    transition: background-color .5s;

    &:hover {
      background-color: lighten($color: map-get($button-bg, "inf"), $amount: 10%);
    }
  }
  
  .success {
    background-color: map-get($button-bg, "succ");
    transition: background-color .5s;

    &:hover {
      background-color: lighten($color: map-get($button-bg, "succ"), $amount: 10%);
    }
  }
  
  .warning {
    background-color: map-get($button-bg, "warn");
    transition: background-color .5s;

    &:hover {
      background-color: lighten($color: map-get($button-bg, "warn"), $amount: 10%);
    }
  }